/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url(../public/fonts/Roboto/Roboto-Italic.ttf);
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url(../public/fonts/Roboto/Roboto-Regular.ttf);
}
/* greek-ext */
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: url(../public/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: url(../public/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src: url(../public/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url(../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* greek-ext */
