@import "index";

.searchContainer {
  width: 100%;
  display: flex;
  min-height: 60px;

  .searchText {
    width: 100%;

    .searchTool {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
