@import "index";
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $white;
  min-height: 70vh;

  div {
    transition: 0.2s linear;
  }
  .innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    font-family: $fontHeader;
    font-weight: 400;
    font-size: 26px;
    padding: 15px 0px;
    margin-bottom: 20px;

    .header {
      font-size: 36px;
      font-weight: 500;
      font-family: $fontHeader;
      color: $ugoro;
      color: $ugoro;
      margin: 10px 0px;
    }

    .headerSection {
      margin-top: 50px;
      font-size: 28px;
      font-weight: 500;
      font-family: $fontHeader;
      color: $ugoro;
      margin-bottom: 10px;
    }

    .andiko {
      font-size: 20px;
      font-weight: 400;
    }

    .section {
      padding: 10px 0px;
      font-weight: 400;
      font-size: 22px;

      span {
        font-weight: 600;
        margin-right: 10px;
        color: $ugoro;
      }

      &:hover {
        color: $lightblue;
        cursor: pointer;
        span {
          color: $black;
        }
      }
    }

    .kitabu {
      width: 100%;
      max-width: 1200px;
      display: grid;
      grid-gap: 15px;
      //padding: 10px;

      @media (min-width: 268px) {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
      }

      @media (min-width: 468px) {
        grid-template-columns: repeat(6, 1fr);
      }

      @media (min-width: 888px) {
        grid-template-columns: repeat(8, 1fr);
      }

      @media (min-width: 1200px) {
        grid-template-columns: repeat(10, 1fr);
      }

      .box {
        width: 100%;
        height: 60px;
        border: 2px solid $ugoro;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          color: $white;
          border: 2px solid $lightblue;
          background-color: $lightblue;
          cursor: pointer;
        }
      }
    }
  }
}
