@import 'index';

.container {
	width: 100%;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-family: $fontHeader;
	margin: 0px;
	padding: 0px;

	.section {
		align-self: center;
		width: 100%;
		max-width: 1200px;
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: column;

		.miradi {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 5rem;
		}
	}
}
